.contact {
  background-image: url("/images/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  background-color: $lightGray;
  text-align: center;
  // padding: 3rem;

  @include breakpoint-up(medium) {
    text-align: left;
  }

  &__links {
    @include breakpoint-up(large){
      grid-area: cta;
      text-align: right;
      justify-self: end;
    }
    a.button {
      @include breakpoint-down(medium){
        margin-bottom: 1.875rem; 
      }

      &:not(:last-child) {
        margin-right: 100px;
      }
    }
  }

  &__intro {
    color: $white;
    margin-bottom: 3.75rem;
    text-align: center;

    @include breakpoint-up(large) {
      width: 100%;
    }
  }
}
