// Colors
$darkGray: hsl(0, 0%, 13%);
$lightGray: hsl(0, 0%, 20%);
$verylightGray: hsl(0, 0%, 75%);
$grayishBlue: hsl(233, 8%, 62%);
$lightgrayishBlue: hsl(220, 16%, 96%);
$darkGreen: hsl(72, 53%, 40%);
$lightGreen: hsl(73, 83%, 41%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// Font Sizes
$font-sm: 0.875rem;     // 14px
$font-med: 1.125rem;    // 18px