.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(#e6ffce), to(white));
  background: linear-gradient(90deg, #e6ffce 0%, white 100%);
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #565671;
  line-height: 1.3;
  overflow-x: hidden;
}

body.nonscroll {
  overflow: hidden;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#64a43d), to(#2a5e08));
  background-image: linear-gradient(to right, #64a43d, #2a5e08);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}

button::before, .button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

button:hover::before, .button:hover::before {
  opacity: 1;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  z-index: 1;
  position: relative;
  top: 0px;
  width: 100%;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2a5e08), to(transparent));
  background-image: linear-gradient(#2a5e08, transparent);
}

.header nav {
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__logo img {
  width: 14rem;
  height: 5rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #212121;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__toggle__cta {
  font-size: 0.875rem;
  color: white;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__toggle__cta:hover {
  opacity: 0.75;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #212121;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #565671;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 25px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(#64a43d), to(#2a5e08));
  background: linear-gradient(to right, #64a43d, #2a5e08);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #2a5e08;
}

.header__links a:hover::before {
  opacity: 1;
}

:root {
  --crsl-bg: transparent;
  --box-bg: transparent;
  --box-shadow: #0000001c;
  --box-shadow-border: #8f8c8c0f;
  --box-border: $whiteGreen;
}

.carousel {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: transparent;
}

.carousel__prev, .carousel__next {
  position: absolute;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  border-radius: 50%;
  display: inline-block;
  padding: 0.7rem 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#64a43d), to(#2a5e08));
  background-image: linear-gradient(to right, #64a43d, #2a5e08);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: white;
  font-weight: 400;
  font-size: 0.875rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}

.carousel__prev i, .carousel__next i {
  font-size: 15px;
  cursor: pointer;
}

.carousel__prev::before, .carousel__next::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}

.carousel__prev:hover::before, .carousel__next:hover::before {
  opacity: 1;
}

.carousel__prev {
  top: 50%;
  left: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  left: 2%;
}

.carousel__next {
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  right: 2%;
}

.carousel__body {
  width: 100%;
  padding: 20px 0 50px 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
}

.carousel__body .carousel__slider {
  z-index: -1;
  position: relative;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  background: var(--crsl-bg);
}

.carousel__body .carousel__slider__item {
  position: relative;
  display: block;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel__body .carousel__slider__item .item__3d-frame {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.carousel__body .carousel__slider__item .item__3d-frame:after {
  content: "";
  position: absolute;
  bottom: -15%;
  width: 100%;
  height: 40px;
  background: var(--box-shadow);
  -webkit-box-shadow: 0px 0px 5px 5px var(--box-shadow);
          box-shadow: 0px 0px 5px 5px var(--box-shadow);
  -webkit-transform: rotateX(90deg) translate3d(0px, -20px, 0px);
          transform: rotateX(90deg) translate3d(0px, -20px, 0px);
  opacity: 0.85;
}

.carousel__body .carousel__slider__item .item__3d-frame__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: var(--box-border);
  background: var(--box-bg);
  border-width: 3px;
  border-style: solid;
}

.carousel__body .carousel__slider__item .item__3d-frame__box h1, .carousel__body .carousel__slider__item .item__3d-frame__box img {
  font-size: 7em;
  width: 100%;
  color: var(--box-border);
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.5%;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right, .carousel__body .carousel__slider__item .item__3d-frame__box--left {
  top: 0;
  width: 40px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--left {
  left: 0;
  border-left-width: 5px;
  -webkit-transform: translate3d(1px, 0, -40px) rotateY(-90deg);
          transform: translate3d(1px, 0, -40px) rotateY(-90deg);
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.carousel__body .carousel__slider__item .item__3d-frame__box--right {
  right: 0;
  border-right-width: 5px;
  -webkit-transform: translate3d(-1px, 0, -40px) rotateY(90deg);
          transform: translate3d(-1px, 0, -40px) rotateY(90deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

#slideshow {
  margin: 80px auto;
  position: relative;
  width: 100%;
  height: 40rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(white));
  background-image: linear-gradient(to left, transparent, white);
}

.test {
  z-index: -1;
}

#slideshow1 {
  margin: 80px auto;
  position: relative;
  width: 100%;
  height: 40rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#e6ffce));
  background-image: linear-gradient(to left, transparent, #e6ffce);
}

.test {
  z-index: -1;
}

#slideshow2 {
  margin: 80px auto;
  position: relative;
  width: 100%;
  height: 40rem;
  display: inline-block;
  border-radius: 16px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(white));
  background-image: linear-gradient(to right, transparent, white);
}

#slideshow3 {
  margin: 80px auto;
  position: relative;
  width: 100%;
  height: 40rem;
  display: inline-block;
  border-radius: 16px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#e6ffce));
  background-image: linear-gradient(to right, transparent, #e6ffce);
}

#slideshow4 {
  margin: 80px auto;
  position: relative;
  width: 100%;
  height: 40rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#e6ffce));
  background-image: linear-gradient(to left, transparent, #e6ffce);
}

#slideshow5 {
  margin: 80px auto;
  position: relative;
  width: 100%;
  height: 40rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#e6ffce));
  background-image: linear-gradient(to left, transparent, #e6ffce);
}

#slideshow6 {
  margin: 80px auto;
  position: relative;
  width: 100%;
  height: 40rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#e6ffce));
  background-image: linear-gradient(to left, transparent, #e6ffce);
}

#slideshow7 {
  margin: 80px auto;
  position: relative;
  width: 100%;
  height: 40rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#e6ffce));
  background-image: linear-gradient(to left, transparent, #e6ffce);
}

#slideshow9 {
  margin: 80px auto;
  position: relative;
  width: 100%;
  height: 40rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(#e6ffce));
  background-image: linear-gradient(to left, transparent, #e6ffce);
}

#slideshow > div {
  position: absolute;
  top: 0.10px;
  left: 0.10px;
  right: 0.10px;
  bottom: 0.10px;
}

#slideshow1 > div {
  position: absolute;
  top: 0.10px;
  left: 0.10px;
  right: 0.10px;
  bottom: 0.10px;
}

#slideshow2 > div {
  position: absolute;
  top: 0.10px;
  left: 0.10px;
  right: 0.10px;
  bottom: 0.10px;
}

#slideshow3 > div {
  position: absolute;
  top: 0.10px;
  left: 0.10px;
  right: 0.10px;
  bottom: 0.10px;
}

#slideshow4 > div {
  position: absolute;
  top: 0.10px;
  left: 0.10px;
  right: 0.10px;
  bottom: 0.10px;
}

#slideshow5 > div {
  position: absolute;
  top: 0.10px;
  left: 0.10px;
  right: 0.10px;
  bottom: 0.10px;
}

#slideshow6 > div {
  position: absolute;
  top: 0.10px;
  left: 0.10px;
  right: 0.10px;
  bottom: 0.10px;
}

#slideshow7 > div {
  position: absolute;
  top: 0.10px;
  left: 0.10px;
  right: 0.10px;
  bottom: 0.10px;
}

#slideshow9 > div {
  position: absolute;
  top: 0.10px;
  left: 0.10px;
  right: 0.10px;
  bottom: 0.10px;
}

.feature {
  background-image: url("/images/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 20rem;
  min-width: 100%;
  background-color: #333333;
  text-align: center;
  padding: 3rem;
}

@media (min-width: 40em) {
  .feature {
    text-align: left;
  }
}

.feature__intro {
  margin-bottom: 3.75rem;
}

@media (min-width: 64em) {
  .feature__intro {
    width: 60%;
  }
}

@media (min-width: 40em) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature__item {
  padding: 0.9375rem;
}

@media (min-width: 40em) {
  .feature__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 64em) {
  .feature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.feature__icon {
  margin-bottom: 1.875rem;
}

@media (min-width: 64em) {
  .feature__icon {
    margin-bottom: 2.75rem;
  }
}

.feature__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: #64a43d;
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .feature__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.feature__description {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #bfbfbf;
}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.5%;
}

.test {
  display: inline-block;
  position: relative;
}

.test:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -prefix-linear-gradient(left, white, #f2fce8);
}

.align-items-center {
  -ms-flex-align: center !important;
  -webkit-box-align: center !important;
          align-items: center !important;
}

.p-5 {
  padding: 5rem !important;
}

@media (min-width: 992px) {
  .order-lg-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
}

@media (min-width: 992px) {
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 60%;
    max-width: 60%;
  }
}

.articles {
  background-color: #f3f4f6;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .article__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .article__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #565671;
}

@media (min-width: 40em) {
  .article__text {
    padding: 1.875rem 1.5625rem;
  }
}

.article__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.article__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: #2a5e08;
  margin-bottom: 0.5rem;
}

.article__description {
  font-size: 0.8125rem;
}

.contact {
  background-image: url("/images/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 20rem;
  min-width: 100%;
  background-color: #333333;
  text-align: center;
  padding: 3rem;
}

@media (min-width: 40em) {
  .contact {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .contact .container, .contact .container-lg, .contact .container-md, .contact .container-sm, .contact .container-xl {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .contact .container, .contact .container-lg, .contact .container-md, .contact .container-sm {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .contact .container, .contact .container-md, .contact .container-sm {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .contact .container, .contact .container-sm {
    max-width: 540px;
  }
}

.contact .container, .contact .container-fluid, .contact .container-lg, .contact .container-md, .contact .container-sm, .contact .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contact .row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 992px) {
  .contact .col-lg-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

.contact .features-icons .features-icons-item {
  max-width: 20rem;
}

@media (min-width: 992px) {
  .contact .mb-lg-3, .contact .my-lg-3 {
    margin-bottom: 1rem !important;
  }
}

@media (min-width: 992px) {
  .contact .mb-lg-0, .contact .my-lg-0 {
    margin-bottom: 0 !important;
  }
}

.contact .ml-auto, .contact .mx-auto {
  margin-left: auto !important;
}

.contact .mr-auto, .contact .mx-auto {
  margin-right: auto !important;
}

.contact .mb-5, .contact .my-5 {
  margin-bottom: 3rem !important;
}

.contact .features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.contact .d-flex {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.contact .features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.contact .text-primary {
  color: #007bff !important;
}

.contact .m-auto {
  margin: auto !important;
}

.contact__intro {
  color: #64a43d;
  margin-bottom: 3.75rem;
  text-align: center;
}

@media (min-width: 64em) {
  .contact__intro {
    width: 100%;
  }
}

.footer {
  background-color: #212121;
  color: white;
  padding: 2.5rem;
  text-align: center;
}

@media (min-width: 64em) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr 3fr;
        grid-template-columns: 2fr 1fr 1fr 3fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
    gap: 1rem;
    justify-items: start;
  }
}

.footer a {
  color: white;
}

.footer__logo {
  display: inline-block;
}

@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}

@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.footer__social a {
  display: inline-block;
}

.footer__social a:not(:last-child) {
  margin-right: 1rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9375rem;
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}

@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}

.footer__links a {
  line-height: 2.25;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.footer__links a:hover {
  color: #64a43d;
}

@media (min-width: 64em) {
  .footer__cta {
    grid-area: cta;
    text-align: right;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (max-width: 63.9375em) {
  .footer__cta a.button {
    margin-bottom: 1.875rem;
  }
}

.footer__copyright {
  font-size: 0.8125rem;
  color: #bfbfbf;
}

@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.fab, .fas {
  font-size: 1.25rem;
  color: white;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.fab:hover, .fas:hover {
  color: #64a43d;
}
/*# sourceMappingURL=style.css.map */